{% extends "base.html" %}

{% block content %}
<div class="grid-container">

  <div class="row">
    <div class="col-md-12">
      {% if run and trigger %}
        <h1>ProtoDUNE EVENT DISPLAYS: Run {{ run }}, Trigger {{ trigger }}, APA/CRP {{ element_id }} GRID</h1>
      {% else %}
        <h1>ProtoDUNE EVENT DISPLAYS: Latest APA/CRP {{ element_id }} GRID</h1>
      {% endif %}
    </div>
  </div>

  <div class="row no-gutters">
    {% for image in images %}
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="grid-image-container">
        <img src="{{ url_for('serve_image', subdir='EventDisplays', filename=image) }}" alt="{{ image }}" loading="lazy"/>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
