{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      {% if run and trigger %}
        <h4 class="page-title">Run {{ run }} &middot; Trigger {{ trigger }} &middot; APA/CRP {{ element_id }} &mdash; Grid</h4>
      {% else %}
        <h4 class="page-title">Latest &mdash; APA/CRP {{ element_id }} Grid</h4>
      {% endif %}
    </div>
  </div>

  <div class="row no-gutters">
    {% for image in images %}
    <div class="col-12 col-sm-6 col-lg-4">
      <div class="grid-image-container">
        <img src="{{ url_for('serve_image', subdir='EventDisplays', filename=image) }}" alt="{{ image }}" loading="lazy"/>
      </div>
    </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
