{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      {% if run and trigger %}
        {% if plane %}
          <h4 class="page-title">Run {{ run }} &middot; Trigger {{ trigger }} &middot; APA/CRP {{ element_id }} &middot; Plane {{ plane }}</h4>
        {% else %}
          <h4 class="page-title">Run {{ run }} &middot; Trigger {{ trigger }} &middot; APA/CRP {{ element_id }}</h4>
        {% endif %}
      {% else %}
        {% if plane %}
          <h4 class="page-title">Latest &mdash; APA/CRP {{ element_id }}, Plane {{ plane }}</h4>
        {% else %}
          <h4 class="page-title">Latest &mdash; APA/CRP {{ element_id }}</h4>
        {% endif %}
      {% endif %}
    </div>
  </div>

  {% for image in images %}
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img src="{{ url_for('serve_image', subdir='EventDisplays', filename=image) }}" alt="{{ image }}" loading="lazy"/>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
