{% extends "base.html" %}

{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-12">
      {% if run and trigger %}
        <h4 class="page-title">Run {{ run }} &middot; Trigger {{ trigger }} &mdash; PDS Plots</h4>
      {% else %}
        <h4 class="page-title">Latest &mdash; PDS Plots</h4>
      {% endif %}
    </div>
  </div>

  {% for image in images %}
  <div class="row">
    <div class="col-12">
      <div class="image-container">
        <img src="{{ url_for('serve_image', subdir='pds_plots', filename=image) }}" alt="{{ image }}" loading="lazy"/>
      </div>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
